* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #EAE6DF;
  --dusty-rose: #D4C8BE;
  --primary: #B8926A;
  --black: #2D2D2B;
  --btn-hover: #A5825D;
  --grey: #B0B0B0;
}

@font-face {
  font-family: 'Didot Bold';
  src: url('./assets/fonts/didot/Didot-Bold.otf');
}

@font-face {
  font-family: 'Didot';
  src: url('./assets/fonts/didot/Didot.otf');
}

@font-face {
  font-family: 'Didot Title';
  src: url('./assets/fonts/didot/Didot-Title.otf');
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('./assets/fonts/Raleway/static/Raleway-Medium.ttf')
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway/static/Raleway-Regular.ttf');
}